<!DOCTYPE html>
<html>
<ahed>
<title>{{flatpage.title}}</title>
</ahed>
<body>
    <i><h2>{{flatpage.title}}</h2></i>
    <hr>
    <h2>Ihr Gebutsort:</h2>
    <hr>
    <h3>Тут мы дублируем информацию контента путем прописывания его сначало в 
        templates\flatpage\Gebutsort.html, а потом в django administration</h3>
    <hr>
    <i><h3>Berlin, Detmold, Münster</h3></i>
    и 
    <i><h3>{{flatpage.content}}</h3></i>
    <hr>
    <h3>либо можно просто два раза прописать в templates\flatpage\Geburtsort.html две
        команды {{flatpage.content}} одна под другой</h3>
    <i><h3>{{flatpage.content}}</h3></i>
    <i><h3>{{flatpage.content}}</h3></i>
</body>
</html>     