<!DOCTYPE html>
<html>
<ahed>
<title>{{flatpage.title}}</title>
</ahed>
<body>
    <h1 style="text-align: center;"><em><span style="color: #339966; background-color: #ffffff;">Посвещается самой замечательной девушке на свете</span></em></h1>
<hr />
<p><a href="https://img.freepik.com/free-photo/blossom-floral-&amp;hellip;fa45314f6f75067838bece3a3bcaa839715985fcd7b34ca73"><img alt="" src="https://img.freepik.com/free-photo/blossom-floral-bouquet-decoration-colorful-beautiful-flowers-background-garden-flowers-plant-pattern-for-wallpapers-greeting-cards-postcards-design-wedding-invites_90220-1103.jpg?w=1380&amp;t=st=1679593187~exp=1679593787~hmac=f96d6e4c3798550fa45314f6f75067838bece3a3bcaa839715985fcd7b34ca73" style="height:494px; width:988px" /></a></p>

<h2 style="font-style:italic;"><span style="font-size:14px"><em>То день, не день</em><br />
<em>А ночь, не ночь</em><br />
<em>И все не так и все не то</em><br />
<em>Солнца свет не дарит свет</em><br />
<em>И сердца стук не чую я</em><br />
<em>Я знаю в чем лежит ответ</em></span></h2>

<h2 style="font-style:italic;"><span style="font-size:14px"><em>Лежит он очень далеко</em><br />
<em>Южнее, там где нет снегов</em><br />
<em>Бегут ручьи и ветер свеж</em><br />
<em>Луга густы и зелены</em><br />
<em>Ютится там моя мечта</em></span></h2>

<h2 style="font-style:italic;"><span style="font-size:14px"><em>Там бьётся сердце и душа</em><br />
<em>Есть край такой, я верю в это</em><br />
<em>Бог даст, дойду когда не будь туда</em><br />
<em>Явь будит это, иначе нет меня</em></span></h2>
</body>
</html>